<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
        
        

        
      </div>

</head>
<style>
  body{
        background-image: linear-gradient(to right, rgb(101, 233, 101),rgb(74, 74, 172));
        display: grid;
        justify-content: center;
      
    }

    
    h1{
        width: 20vw; 
        height: 20vh;
    }
    
  
</style>
<body>
  <h1>Hello! You are logged in.</h1><br>
  <h1 style="font-size: 25px;">Choose the Desired Option</h1><br>
    

  <nav>
    <button><a class="btn btn-primary" href= "{{url_for('citizen')}}" role="button">Citizen Page</a></button>
   
</nav>

  <button><a class="btn btn-dark" href= "{{url_for('collector')}}" role="button">Collector Page</a></button>
 

    <p>This will Direct you to the Homepage</p>
    <button href = "{{url_for('login')}}">Home</button><br>
    <p>See You Profile</p>
    <button>Profile</button><br>
    <p>Change Settings</p>
    <button>Settings</button><br>
    <p>Latest Notices</p>
    <button>Alert</button>
   
      <p>       </p>
      <a href="{{url_for('logout')}}">Logout</a>

    
    
    
    
    
</body>
</html>
